#productDescription {
  display: grid;
  grid-template-columns: 90px 90px 1fr;
}

.productTitle, .bullets, .description{
  grid-column: 1 / -1;
}

.buyButton, .productPrice {
  grid-column: 1;
}

.buyButton {
  width: 120px;
  grid-column: 1 / span 2;
}
