#productDescription {
  display: grid;
  grid-template-columns: 90px 90px 1fr;
}

.productTitle, .bullets, .description{
  grid-column: 1 / -1;
}

.buyButton, .productPrice {
  grid-column: 1;
}

.buyButton {
  grid-column: 1 / span 2;
  width: 135px;
  height: 34px;
  background-color: #ffbe61;
  color: #ffffff;
  font-size: 20px;
  outline:none;
  border:none;
}

.stars {
  z-index: -1;
}

.buyButton:hover {
  background-color: #ff9a00;
}
