#productDescription {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.productTitle, .bullets, .description{
  grid-column: 1 / -1;
}

.buyButton, .productPrice {
  grid-column: 1;
}

.productSeller, .productReviews {
  grid-column: span 2;
}
.buyButton {
  width: 120px;
  grid-column: 1 / span 2;
}
